@page "/countries"
<h3>Paises</h3>

@if (countries == null)
{
    <Loading/>
}
else
{
    <table border="1">
        <tr>
            <td>Paises</td>
        </tr>
        @foreach(var country in countries)
        {
            <tr>
                <td>@country.Name</td>
            </tr>
        }
    </table>
}